flows.json
[
    {
        "id": "8b70799ce97cf17d",
        "type": "tab",
        "label": "Setup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4abea758808e56d0",
        "type": "tab",
        "label": "Loop",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76681dea68e7073e",
        "type": "group",
        "z": "8b70799ce97cf17d",
        "name": "Map Grow Day to Growing Stage",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "91b08df24e304a1f",
            "5d428ac7cc9afdba"
        ],
        "x": 88,
        "y": 233,
        "w": 1484,
        "h": 294
    },
    {
        "id": "3af2676ba4920b7f",
        "type": "group",
        "z": "8b70799ce97cf17d",
        "name": "Set humidity setpoint",
        "style": {
            "stroke": "#777777",
            "fill": "#ffffff",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0c10701c124d9652",
            "edb5d202c65055ae",
            "283564a90c3644bd",
            "2270e22d655962ab",
            "63da71d4c7af9093",
            "31c15103344bd46d",
            "4ec71986b323618c",
            "a30d46a3add1ea11",
            "22ee6de07ad111f0",
            "94aa72c68daa4225"
        ],
        "x": 14,
        "y": 559,
        "w": 1312,
        "h": 202
    },
    {
        "id": "968ef5bdcf2bce96",
        "type": "group",
        "z": "4abea758808e56d0",
        "name": "Monitor CO2",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cf0e0aef5fbb50e9",
            "924fbb8788b9fc93",
            "8a6cf02093cdb7e4",
            "2c22ddd44c08a475",
            "60d8efba376dfdd6",
            "bb1dfaea5945dde9",
            "12c6f960277933bb",
            "e1adadd899171f5e",
            "dda3b658556016e0",
            "be7087c6a93db215"
        ],
        "x": 134,
        "y": 599,
        "w": 1112,
        "h": 242
    },
    {
        "id": "ba872fe6adc0f262",
        "type": "group",
        "z": "8b70799ce97cf17d",
        "name": "Photoresistor lets us know if lights on/off",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a73f97f6deb9c9dc",
            "a78a3ea85ee5da0f",
            "2965aa8cc50c2bcd",
            "5bb9031a4d037509",
            "1471d54187b8cad2",
            "b58b16f52bf976ef",
            "b01650a105e9d838",
            "a112c1321f7394ca",
            "6a8630aafdf67919",
            "6c6ac30170b8c47d",
            "dcf288668f36caa1",
            "c9e4f1e57a4501c7",
            "f7624c02411cec09"
        ],
        "x": 214,
        "y": 799,
        "w": 812,
        "h": 382
    },
    {
        "id": "9dcaa677a0671838",
        "type": "group",
        "z": "4abea758808e56d0",
        "name": "Monitor Humidity",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d9310a1d7b219621",
            "8ef94b8292b55d3d",
            "3ac927cfc1291cb6",
            "1c31a3e0e246c4cb",
            "b6e5722ca9b4f48f",
            "f0dde5405daf38ee",
            "d7a7e9f0a6c51f63",
            "2467151ca8fb8c11",
            "04d93dab9d49d747",
            "2d6dc1fd41eb0523"
        ],
        "x": 134,
        "y": 859,
        "w": 1112,
        "h": 242
    },
    {
        "id": "6c6d661cc9832c5f",
        "type": "group",
        "z": "4abea758808e56d0",
        "name": "Error Check",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a1627783ce7223c1",
            "7c30e4d020397ddc",
            "7d5fbdaef2f84c21",
            "8e0d8f85df6622d5",
            "c2208a090b9adff5",
            "c5950d95bd02b9d6",
            "891d0e50a401d197",
            "91f04f48495fec01"
        ],
        "x": 134,
        "y": 1119,
        "w": 932,
        "h": 182
    },
    {
        "id": "11670cc3ba018b59",
        "type": "group",
        "z": "4abea758808e56d0",
        "name": "Write readings to influx",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "9164759796c0c04d",
            "962ae9ccf9e5902f",
            "f9a42940ed8f69d9",
            "421f54339678b2ae",
            "dd3f8b083243cab6",
            "5f7d5c4c5e33be7b",
            "33ecb18d89ecf5ea"
        ],
        "x": 134,
        "y": 419,
        "w": 952,
        "h": 162
    },
    {
        "id": "c1f9dd9005199070",
        "type": "group",
        "z": "4abea758808e56d0",
        "name": "Take Readings from scd30 sensor",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "11e485116eee57f2",
            "2c8490d8f1428d06",
            "109fb15ca23f61de",
            "dfcd0478bf2416e5",
            "73e9b65f7062e826",
            "84278bf54d79cd76",
            "ff1491759ab107b3",
            "35ae8f14df4e6a62",
            "d66cdba9a473ecf7",
            "7369975ab5993df5",
            "32c200af72af8230",
            "a4eacd80d5527866",
            "49a3d464b6d7bee8",
            "285f2a0d9577319e",
            "1719f5a5a4164309",
            "0673833916e00a97",
            "a1296ba7044ee47f",
            "81cb106ae918aa73"
        ],
        "x": 134,
        "y": 59,
        "w": 1112,
        "h": 342
    },
    {
        "id": "5d428ac7cc9afdba",
        "type": "group",
        "z": "8b70799ce97cf17d",
        "g": "76681dea68e7073e",
        "name": "",
        "style": {
            "fill": "#ffffff",
            "label": true
        },
        "nodes": [
            "8822dd6ccf3225b3",
            "91a3fa3e8f89a982",
            "7f34c2b988437de1",
            "5225ce5babb7bee3",
            "761452fe79ffb890",
            "3f895add12630d1d",
            "969c8b674bd2f6c7",
            "e90de7a5395607eb"
        ],
        "x": 114,
        "y": 259,
        "w": 1432,
        "h": 242
    },
    {
        "id": "afe6788ded04e72d",
        "type": "group",
        "z": "4abea758808e56d0",
        "name": "Pump Refill of Humidifier",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bb2b6401bfd3e02d",
            "d6dd3c1979682dc1",
            "3f83da8c25ecb149",
            "dcca82cc7da5a84a",
            "e4d245566bd96b48",
            "1b9e25612b7962b1",
            "89ac534d520fba7d",
            "54890add27629a66",
            "b74d12f04a57b28b",
            "8ee9fd560e40790f"
        ],
        "x": 124,
        "y": 1359,
        "w": 962,
        "h": 262
    },
    {
        "id": "bd52ceb7e193caff",
        "type": "influxdb",
        "hostname": "192.168.86.31",
        "port": "8086",
        "protocol": "http",
        "database": "leafspa",
        "name": "leafspa",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "1ea5dfa03b11893e",
        "type": "scd30-config",
        "busNumber": "1"
    },
    {
        "id": "3b29ec6d48e8bbfe",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "20355074b213b777",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "521438b26183dc33",
        "type": "ui_group",
        "name": "Home",
        "tab": "35870709b5fb5fcf",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "35870709b5fb5fcf",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c45a83a3.d00908",
        "type": "ui_group",
        "name": "PID",
        "tab": "80cd4062.93a5",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "80cd4062.93a5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "55104359.ae8f1c",
        "type": "ui_group",
        "name": "Heater Setpoints",
        "tab": "14f7bbb4.c9d2b4",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "ae012c4c.e138b",
        "type": "ui_group",
        "name": "Dehumidifier Setpoints",
        "tab": "14f7bbb4.c9d2b4",
        "order": 6,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "9808fb7a.a5a668",
        "type": "ui_group",
        "name": "VPD",
        "tab": "14f7bbb4.c9d2b4",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "7deea9a6.d96288",
        "type": "ui_group",
        "name": "Temperature Monitoring",
        "tab": "14f7bbb4.c9d2b4",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "89978d32.271a5",
        "type": "ui_group",
        "name": "Humidity Monitoring",
        "tab": "14f7bbb4.c9d2b4",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "218993f3.dd413c",
        "type": "ui_group",
        "name": "Exhaust Setpoints",
        "tab": "14f7bbb4.c9d2b4",
        "order": 8,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "b806f09.05ae81",
        "type": "ui_group",
        "name": "Humidifier Setpoints",
        "tab": "14f7bbb4.c9d2b4",
        "order": 7,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "7999bcbc.c400c4",
        "type": "ui_group",
        "name": "Lighting",
        "tab": "14f7bbb4.c9d2b4",
        "order": 8,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "875b2792.d32768",
        "type": "ui_group",
        "name": "Fertigation",
        "tab": "14f7bbb4.c9d2b4",
        "order": 9,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "14f7bbb4.c9d2b4",
        "type": "ui_tab",
        "name": "GardenBro",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "761452fe79ffb890",
        "type": "debug",
        "z": "8b70799ce97cf17d",
        "g": "5d428ac7cc9afdba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 400,
        "wires": []
    },
    {
        "id": "3f895add12630d1d",
        "type": "switch",
        "z": "8b70799ce97cf17d",
        "g": "5d428ac7cc9afdba",
        "name": "depending on # grow days so far",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "13",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "14",
                "vt": "num",
                "v2": "33",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "33",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "91a3fa3e8f89a982"
            ],
            [
                "7f34c2b988437de1"
            ],
            [
                "5225ce5babb7bee3"
            ]
        ]
    },
    {
        "id": "91a3fa3e8f89a982",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "5d428ac7cc9afdba",
        "name": "set grow_stage to seedling",
        "rules": [
            {
                "t": "set",
                "p": "grow_stage",
                "pt": "global",
                "to": "seedling",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "8822dd6ccf3225b3"
            ]
        ]
    },
    {
        "id": "7f34c2b988437de1",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "5d428ac7cc9afdba",
        "name": "set grow stage to veg",
        "rules": [
            {
                "t": "set",
                "p": "grow_stage",
                "pt": "global",
                "to": "veg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 400,
        "wires": [
            [
                "8822dd6ccf3225b3"
            ]
        ]
    },
    {
        "id": "5225ce5babb7bee3",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "5d428ac7cc9afdba",
        "name": "set grow stage to flower",
        "rules": [
            {
                "t": "set",
                "p": "grow_stage",
                "pt": "global",
                "to": "flower",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "8822dd6ccf3225b3"
            ]
        ]
    },
    {
        "id": "8822dd6ccf3225b3",
        "type": "function",
        "z": "8b70799ce97cf17d",
        "g": "5d428ac7cc9afdba",
        "name": "set payload to grow_stage",
        "func": "msg.payload = global.get(\"grow_stage\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 400,
        "wires": [
            [
                "761452fe79ffb890"
            ]
        ]
    },
    {
        "id": "969c8b674bd2f6c7",
        "type": "function",
        "z": "8b70799ce97cf17d",
        "g": "5d428ac7cc9afdba",
        "name": "convert to int",
        "func": "global.set(\"grow_stage\",parseInt(global.get(\"grow_stage\")))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "3f895add12630d1d"
            ]
        ]
    },
    {
        "id": "dfcd0478bf2416e5",
        "type": "inject",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "Readings taken every 3 secs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "2c8490d8f1428d06"
            ]
        ]
    },
    {
        "id": "ff1491759ab107b3",
        "type": "debug",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "91b08df24e304a1f",
        "type": "comment",
        "z": "8b70799ce97cf17d",
        "g": "76681dea68e7073e",
        "name": "How I map grow day to grow stage",
        "info": "When the seed's tap root or clone is placed in soil and the LED is on for the first time, that is day one.\n\nI've divided the growing stages into:\n- seedling\n- vegetative\n- flowering\n\nThe number of days for each was set based on the [FLU-CultivationGuide_Cannabis_WEB_PROOF_01-2020.pdf](https://github.com/solarslurpi/LeafSpaV2/blob/main/docs/FLU-CultivationGuide_Cannabis_WEB_PROOF_01-2020.pdf)\n",
        "x": 260,
        "y": 420,
        "wires": []
    },
    {
        "id": "73e9b65f7062e826",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "CO2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.co2Concentration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "a1296ba7044ee47f"
            ]
        ]
    },
    {
        "id": "11e485116eee57f2",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.temperature*9/5 + 32 ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "1719f5a5a4164309"
            ]
        ]
    },
    {
        "id": "84278bf54d79cd76",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.relativeHumidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "0673833916e00a97"
            ]
        ]
    },
    {
        "id": "35ae8f14df4e6a62",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "set global CO2",
        "rules": [
            {
                "t": "set",
                "p": "CO2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 240,
        "wires": [
            [
                "7369975ab5993df5"
            ]
        ]
    },
    {
        "id": "7369975ab5993df5",
        "type": "debug",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "109fb15ca23f61de",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "set global temperature",
        "rules": [
            {
                "t": "set",
                "p": "temperature",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 140,
        "wires": [
            [
                "ff1491759ab107b3"
            ]
        ]
    },
    {
        "id": "d66cdba9a473ecf7",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "set global humidity",
        "rules": [
            {
                "t": "set",
                "p": "humidity",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 340,
        "wires": [
            [
                "32c200af72af8230"
            ]
        ]
    },
    {
        "id": "cf0e0aef5fbb50e9",
        "type": "switch",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "is CO2 in range?",
        "property": "CO2",
        "propertyType": "global",
        "rules": [
            {
                "t": "btwn",
                "v": "1000",
                "vt": "num",
                "v2": "950",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "1000",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "950",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 740,
        "wires": [
            [
                "2c22ddd44c08a475"
            ],
            [
                "dda3b658556016e0",
                "be7087c6a93db215"
            ],
            [
                "8a6cf02093cdb7e4",
                "924fbb8788b9fc93"
            ]
        ]
    },
    {
        "id": "924fbb8788b9fc93",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "Need more CO2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Need more CO2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 800,
        "wires": [
            [
                "60d8efba376dfdd6"
            ]
        ]
    },
    {
        "id": "8a6cf02093cdb7e4",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "Turn CO2 on ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 760,
        "wires": [
            [
                "e1adadd899171f5e"
            ]
        ]
    },
    {
        "id": "2c22ddd44c08a475",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "CO2 OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CO2 OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 640,
        "wires": [
            [
                "60d8efba376dfdd6"
            ]
        ]
    },
    {
        "id": "60d8efba376dfdd6",
        "type": "debug",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 700,
        "wires": []
    },
    {
        "id": "32c200af72af8230",
        "type": "debug",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "09d90076001a5c69",
        "type": "comment",
        "z": "4abea758808e56d0",
        "name": "If Lights are off, the CO2 and Humidifier plugs should be off.",
        "info": "",
        "x": 1380,
        "y": 3160,
        "wires": []
    },
    {
        "id": "bb1dfaea5945dde9",
        "type": "inject",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "check CO2 level every 5 seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "12c6f960277933bb"
            ]
        ]
    },
    {
        "id": "2994c65a03819980",
        "type": "comment",
        "z": "8b70799ce97cf17d",
        "name": "References",
        "info": "- doing a `uname -a` on the pi zerow shows the chip to be Armv6 and not Armv7.  This is unfortunate because the \"normal\" Grafana install wants armv7.\n\nI found a website that gave directions for installing Grafana on a pi zero:\n- [Grafana and InfluxDB on a Pi](https://brettbeeson.com.au/grafana-and-influxdb-in-pi-zero-w/)\n- \nAfter install, I did a `sudo apt-get update` and then started the `grafana-server`.\n\nThere are several pages on nodered/tp-link with different commands.  It seems the command set used by this install is at:\n- [tplink github with commands](https://github.com/caseyjhol/node-red-contrib-tplink)",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "edb5d202c65055ae",
        "type": "switch",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "seedling?",
        "property": "grow_stage",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "seedling",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "2270e22d655962ab"
            ]
        ]
    },
    {
        "id": "283564a90c3644bd",
        "type": "inject",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "Set humidity setpoint based on grow stage",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "edb5d202c65055ae",
                "63da71d4c7af9093",
                "4ec71986b323618c"
            ]
        ]
    },
    {
        "id": "2270e22d655962ab",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "set humidity setpoint to seedling's",
        "rules": [
            {
                "t": "set",
                "p": "humidity_setpoint",
                "pt": "global",
                "to": "humidity_seedling",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 600,
        "wires": [
            [
                "22ee6de07ad111f0"
            ]
        ]
    },
    {
        "id": "63da71d4c7af9093",
        "type": "switch",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "veg?",
        "property": "grow_stage",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "veg",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "31c15103344bd46d"
            ]
        ]
    },
    {
        "id": "31c15103344bd46d",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "set humidity setpoint to veg's",
        "rules": [
            {
                "t": "set",
                "p": "humidity_setpoint",
                "pt": "global",
                "to": "humidity_veg",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 660,
        "wires": [
            [
                "22ee6de07ad111f0"
            ]
        ]
    },
    {
        "id": "4ec71986b323618c",
        "type": "switch",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "flowering?",
        "property": "grow_stage",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "flower",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 720,
        "wires": [
            [
                "a30d46a3add1ea11"
            ]
        ]
    },
    {
        "id": "a30d46a3add1ea11",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "set humidity setpoint to flower's",
        "rules": [
            {
                "t": "set",
                "p": "humidity_setpoint",
                "pt": "global",
                "to": "humidity_flower",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 720,
        "wires": [
            [
                "22ee6de07ad111f0"
            ]
        ]
    },
    {
        "id": "22ee6de07ad111f0",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "humidity_setpoint",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 660,
        "wires": [
            [
                "94aa72c68daa4225"
            ]
        ]
    },
    {
        "id": "94aa72c68daa4225",
        "type": "debug",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 660,
        "wires": []
    },
    {
        "id": "2c8490d8f1428d06",
        "type": "read-measurement",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "scd30Config": "1ea5dfa03b11893e",
        "name": "scd30",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "73e9b65f7062e826",
                "11e485116eee57f2",
                "84278bf54d79cd76"
            ]
        ]
    },
    {
        "id": "618e2203d8fce6fa",
        "type": "config",
        "z": "8b70799ce97cf17d",
        "name": "start parameters",
        "properties": [],
        "active": true,
        "x": 240,
        "y": 140,
        "wires": []
    },
    {
        "id": "0c10701c124d9652",
        "type": "config",
        "z": "8b70799ce97cf17d",
        "g": "3af2676ba4920b7f",
        "name": "humidity params",
        "properties": [
            {
                "p": "humidity_seedling",
                "pt": "global",
                "to": "70",
                "tot": "num"
            },
            {
                "p": "humidity_veg",
                "pt": "global",
                "to": "60",
                "tot": "num"
            },
            {
                "p": "humidity_flower",
                "pt": "global",
                "to": "45",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 140,
        "y": 600,
        "wires": []
    },
    {
        "id": "a73f97f6deb9c9dc",
        "type": "rpi-gpio in",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "Photoresistor",
        "pin": "7",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 310,
        "y": 920,
        "wires": [
            [
                "2965aa8cc50c2bcd",
                "5bb9031a4d037509"
            ]
        ]
    },
    {
        "id": "a78a3ea85ee5da0f",
        "type": "comment",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "Use Photoresistor to see if LED lights on or off",
        "info": "# Switch statement values\n0 = Lights are on.  1 = Lights are off.\n# Just in case...\nTurn off the CO2 solenoid, humidifier, or pump in case they are on. None of these need to be on when the lights are off.\n# Send email\nSend an email to let me know when the lights are turned on or off.  The email gives me some piece of mind the system is working correctly.\n",
        "x": 470,
        "y": 860,
        "wires": []
    },
    {
        "id": "2965aa8cc50c2bcd",
        "type": "function",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "Send email when Photoresistor detects Lights ON/OFF change",
        "func": "if (msg.payload == 0){\n    msg.payload = \"PR says Lights turned ON\"\n}else {\n    msg.payload = \"PR says Lights turned OFF\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "b01650a105e9d838"
            ]
        ]
    },
    {
        "id": "5bb9031a4d037509",
        "type": "switch",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "LED ON?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 920,
        "wires": [
            [
                "b58b16f52bf976ef"
            ],
            [
                "1471d54187b8cad2",
                "a112c1321f7394ca",
                "c9e4f1e57a4501c7",
                "6c6ac30170b8c47d"
            ]
        ]
    },
    {
        "id": "1471d54187b8cad2",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "set global.LIGHTS_ON to false",
        "rules": [
            {
                "t": "set",
                "p": "LIGHTS_ON",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b58b16f52bf976ef",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "set global.LIGHTS_ON to true",
        "rules": [
            {
                "t": "set",
                "p": "LIGHTS_ON",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b01650a105e9d838",
        "type": "e-mail",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "happyday.mjohnson@gmail.com",
        "dname": "send email LED ON/OFF change",
        "x": 860,
        "y": 1140,
        "wires": []
    },
    {
        "id": "12c6f960277933bb",
        "type": "switch",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "are Lights On?",
        "property": "LIGHTS_ON",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 740,
        "wires": [
            [
                "cf0e0aef5fbb50e9"
            ]
        ]
    },
    {
        "id": "e90de7a5395607eb",
        "type": "comment",
        "z": "8b70799ce97cf17d",
        "g": "5d428ac7cc9afdba",
        "name": "Not Using",
        "info": "",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "2f4da29c567209de",
        "type": "comment",
        "z": "8b70799ce97cf17d",
        "name": "Not Using",
        "info": "",
        "x": 300,
        "y": 600,
        "wires": []
    },
    {
        "id": "a4eacd80d5527866",
        "type": "ui_chart",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "Temperature",
        "group": "521438b26183dc33",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 910,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "49a3d464b6d7bee8",
        "type": "ui_chart",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "CO2",
        "group": "521438b26183dc33",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "285f2a0d9577319e",
        "type": "ui_chart",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "humidity",
        "group": "521438b26183dc33",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 840,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d9310a1d7b219621",
        "type": "switch",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "is humidity in range?",
        "property": "humidity",
        "propertyType": "global",
        "rules": [
            {
                "t": "btwn",
                "v": "70",
                "vt": "num",
                "v2": "55",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "70",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "55",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "1c31a3e0e246c4cb"
            ],
            [
                "2467151ca8fb8c11",
                "2d6dc1fd41eb0523"
            ],
            [
                "3ac927cfc1291cb6",
                "8ef94b8292b55d3d"
            ]
        ]
    },
    {
        "id": "8ef94b8292b55d3d",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "need more humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "need more humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1060,
        "wires": [
            [
                "b6e5722ca9b4f48f"
            ]
        ]
    },
    {
        "id": "3ac927cfc1291cb6",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "Turn humidifier on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1020,
        "wires": [
            [
                "04d93dab9d49d747"
            ]
        ]
    },
    {
        "id": "1c31a3e0e246c4cb",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "Humidity OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Humidity OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 900,
        "wires": [
            [
                "b6e5722ca9b4f48f"
            ]
        ]
    },
    {
        "id": "b6e5722ca9b4f48f",
        "type": "debug",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 940,
        "wires": []
    },
    {
        "id": "f0dde5405daf38ee",
        "type": "inject",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "check humidity every 5 seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 320,
        "y": 940,
        "wires": [
            [
                "d7a7e9f0a6c51f63"
            ]
        ]
    },
    {
        "id": "d7a7e9f0a6c51f63",
        "type": "switch",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "are Lights On?",
        "property": "LIGHTS_ON",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "d9310a1d7b219621"
            ]
        ]
    },
    {
        "id": "a1627783ce7223c1",
        "type": "inject",
        "z": "4abea758808e56d0",
        "g": "6c6d661cc9832c5f",
        "name": "check every 10 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 290,
        "y": 1200,
        "wires": [
            [
                "7c30e4d020397ddc",
                "7d5fbdaef2f84c21",
                "8e0d8f85df6622d5"
            ]
        ]
    },
    {
        "id": "7c30e4d020397ddc",
        "type": "switch",
        "z": "4abea758808e56d0",
        "g": "6c6d661cc9832c5f",
        "name": "is Humidity way too high?",
        "property": "humidity",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "70",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 1200,
        "wires": [
            [
                "91f04f48495fec01"
            ]
        ]
    },
    {
        "id": "7d5fbdaef2f84c21",
        "type": "function",
        "z": "4abea758808e56d0",
        "g": "6c6d661cc9832c5f",
        "name": "debug info",
        "func": "s = \"**Error Checking on humidity and CO2...CO2: \";\ns = s + global.get(\"CO2\").toFixed(2);\ns = s + \" humidity: \";\ns = s + global.get(\"humidity\").toFixed(2);\n\nnode.warn(s);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "8e0d8f85df6622d5",
        "type": "switch",
        "z": "4abea758808e56d0",
        "g": "6c6d661cc9832c5f",
        "name": "is CO2 way too high?",
        "property": "CO2",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "1300",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 1160,
        "wires": [
            [
                "891d0e50a401d197"
            ]
        ]
    },
    {
        "id": "9c05f87b4d5c6e5c",
        "type": "comment",
        "z": "4abea758808e56d0",
        "name": "DOCUMENTATION: What's going on",
        "info": "# Reading Temp, Humidity, CO2 values\nOver and over, the [scd 30 sensor](https://learn.adafruit.com/adafruit-scd30) is read to provide info on the temperature, CO2 level, and humidity level.  These readings are stored in variables that are used during data logging and monitoring.\n\n# Writing and Viewing Readings\nEvery so often, the values read from the scd30 are stored in an influx database (database name = `leafspa` measurements are within `readings`).  Grafana is used to view the readings.",
        "x": 580,
        "y": 20,
        "wires": []
    },
    {
        "id": "9164759796c0c04d",
        "type": "inject",
        "z": "4abea758808e56d0",
        "g": "11670cc3ba018b59",
        "name": "Readings every minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "421f54339678b2ae",
                "dd3f8b083243cab6",
                "5f7d5c4c5e33be7b"
            ]
        ]
    },
    {
        "id": "962ae9ccf9e5902f",
        "type": "debug",
        "z": "4abea758808e56d0",
        "g": "11670cc3ba018b59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "f9a42940ed8f69d9",
        "type": "join",
        "z": "4abea758808e56d0",
        "g": "11670cc3ba018b59",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 790,
        "y": 500,
        "wires": [
            [
                "962ae9ccf9e5902f",
                "33ecb18d89ecf5ea"
            ]
        ]
    },
    {
        "id": "421f54339678b2ae",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "11670cc3ba018b59",
        "name": "send temperature value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "temperature",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "f9a42940ed8f69d9"
            ]
        ]
    },
    {
        "id": "dd3f8b083243cab6",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "11670cc3ba018b59",
        "name": "send CO2 value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CO2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CO2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "f9a42940ed8f69d9"
            ]
        ]
    },
    {
        "id": "5f7d5c4c5e33be7b",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "11670cc3ba018b59",
        "name": "send humidity value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "humidity",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 540,
        "wires": [
            [
                "f9a42940ed8f69d9"
            ]
        ]
    },
    {
        "id": "33ecb18d89ecf5ea",
        "type": "influxdb out",
        "z": "4abea758808e56d0",
        "g": "11670cc3ba018b59",
        "influxdb": "bd52ceb7e193caff",
        "name": "write to leafspa db",
        "measurement": "readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "1719f5a5a4164309",
        "type": "smooth",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "a4eacd80d5527866",
                "109fb15ca23f61de"
            ]
        ]
    },
    {
        "id": "0673833916e00a97",
        "type": "smooth",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "285f2a0d9577319e",
                "d66cdba9a473ecf7"
            ]
        ]
    },
    {
        "id": "a1296ba7044ee47f",
        "type": "smooth",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "5",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "49a3d464b6d7bee8",
                "35ae8f14df4e6a62"
            ]
        ]
    },
    {
        "id": "81cb106ae918aa73",
        "type": "comment",
        "z": "4abea758808e56d0",
        "g": "c1f9dd9005199070",
        "name": "What's going on",
        "info": "# Taking Readings\nThe scd30 sensor is probed every \"n\" seconds to find out the temperature, relative humidity, and CO2 levels.\n## Noise\nSince the values can be noisy, the values are averaged over a window of values.\n## Global variables\nGlobal variables for temperature, CO2 and humidity are then created.\n\n## Monitor\nThese values are used during monitoring to change the power switch state:\n- within range (do nothing)\n- over range (turn switch off that is attached to either the CO2 or humidifier)\n- below range (turn switch on)\n\n## Store Values\nThe variables, as well as whether the CO2 or humidifier plugs were on or off are stored in an influx database every so often.",
        "x": 270,
        "y": 360,
        "wires": []
    },
    {
        "id": "e1adadd899171f5e",
        "type": "rpi-gpio out",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "CO2 pin",
        "pin": "11",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1100,
        "y": 760,
        "wires": []
    },
    {
        "id": "dda3b658556016e0",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "Turn CO2 off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 720,
        "wires": [
            [
                "e1adadd899171f5e"
            ]
        ]
    },
    {
        "id": "04d93dab9d49d747",
        "type": "rpi-gpio out",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "humidifier pin",
        "pin": "13",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1130,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2467151ca8fb8c11",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "Turn humidifier off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 980,
        "wires": [
            [
                "04d93dab9d49d747"
            ]
        ]
    },
    {
        "id": "891d0e50a401d197",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "6c6d661cc9832c5f",
        "name": "Turn CO2 off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1160,
        "wires": [
            [
                "c2208a090b9adff5"
            ]
        ]
    },
    {
        "id": "c2208a090b9adff5",
        "type": "rpi-gpio out",
        "z": "4abea758808e56d0",
        "g": "6c6d661cc9832c5f",
        "name": "CO2 pin",
        "pin": "11",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "91f04f48495fec01",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "6c6d661cc9832c5f",
        "name": "Turn humidifier off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1200,
        "wires": [
            [
                "c5950d95bd02b9d6"
            ]
        ]
    },
    {
        "id": "c5950d95bd02b9d6",
        "type": "rpi-gpio out",
        "z": "4abea758808e56d0",
        "g": "6c6d661cc9832c5f",
        "name": "humidifier pin",
        "pin": "13",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 970,
        "y": 1200,
        "wires": []
    },
    {
        "id": "be7087c6a93db215",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "968ef5bdcf2bce96",
        "name": "CO2 high",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CO2 high",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 680,
        "wires": [
            [
                "60d8efba376dfdd6"
            ]
        ]
    },
    {
        "id": "2d6dc1fd41eb0523",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "9dcaa677a0671838",
        "name": "Humidity high",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Humidity high",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 940,
        "wires": [
            [
                "b6e5722ca9b4f48f"
            ]
        ]
    },
    {
        "id": "bb2b6401bfd3e02d",
        "type": "rpi-gpio in",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "Low Water",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 220,
        "y": 1400,
        "wires": [
            [
                "d6dd3c1979682dc1"
            ]
        ]
    },
    {
        "id": "d6dd3c1979682dc1",
        "type": "switch",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "not enough water?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 1400,
        "wires": [
            [
                "3f83da8c25ecb149",
                "89ac534d520fba7d"
            ]
        ]
    },
    {
        "id": "3f83da8c25ecb149",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "turning pump on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "need more water",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1400,
        "wires": [
            [
                "b74d12f04a57b28b"
            ]
        ]
    },
    {
        "id": "dcca82cc7da5a84a",
        "type": "rpi-gpio in",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "High Water",
        "pin": "18",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 210,
        "y": 1580,
        "wires": [
            [
                "e4d245566bd96b48"
            ]
        ]
    },
    {
        "id": "e4d245566bd96b48",
        "type": "switch",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "is it time to turn off pump?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 1580,
        "wires": [
            [
                "54890add27629a66",
                "1b9e25612b7962b1"
            ]
        ]
    },
    {
        "id": "1b9e25612b7962b1",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "turn pump off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "turn pump off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1580,
        "wires": [
            [
                "b74d12f04a57b28b"
            ]
        ]
    },
    {
        "id": "89ac534d520fba7d",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "Start pump",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1440,
        "wires": [
            [
                "8ee9fd560e40790f"
            ]
        ]
    },
    {
        "id": "54890add27629a66",
        "type": "change",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "Stop pump",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1540,
        "wires": [
            [
                "8ee9fd560e40790f"
            ]
        ]
    },
    {
        "id": "b74d12f04a57b28b",
        "type": "debug",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1520,
        "wires": []
    },
    {
        "id": "8b438012f876aef4",
        "type": "inject",
        "z": "4abea758808e56d0",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 220,
        "y": 1760,
        "wires": [
            [
                "9f3f59f024e3d4b4"
            ]
        ]
    },
    {
        "id": "236ba205bc5f7a46",
        "type": "inject",
        "z": "4abea758808e56d0",
        "name": "on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 210,
        "y": 1820,
        "wires": [
            [
                "9f3f59f024e3d4b4"
            ]
        ]
    },
    {
        "id": "9f3f59f024e3d4b4",
        "type": "rpi-gpio out",
        "z": "4abea758808e56d0",
        "name": "pump",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 420,
        "y": 1840,
        "wires": []
    },
    {
        "id": "a87be02a6cd60363",
        "type": "rpi-gpio in",
        "z": "4abea758808e56d0",
        "name": "low water sensor",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 190,
        "y": 1980,
        "wires": [
            [
                "766ff78eaf28c1f7"
            ]
        ]
    },
    {
        "id": "df39fd92d242fcb4",
        "type": "rpi-gpio in",
        "z": "4abea758808e56d0",
        "name": "high water sensor",
        "pin": "18",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 210,
        "y": 2040,
        "wires": [
            [
                "766ff78eaf28c1f7"
            ]
        ]
    },
    {
        "id": "766ff78eaf28c1f7",
        "type": "debug",
        "z": "4abea758808e56d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 2000,
        "wires": []
    },
    {
        "id": "8ee9fd560e40790f",
        "type": "rpi-gpio out",
        "z": "4abea758808e56d0",
        "g": "afe6788ded04e72d",
        "name": "pump",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1000,
        "y": 1420,
        "wires": []
    },
    {
        "id": "a112c1321f7394ca",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "Turn CO2 off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 940,
        "wires": [
            [
                "6a8630aafdf67919"
            ]
        ]
    },
    {
        "id": "6a8630aafdf67919",
        "type": "rpi-gpio out",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "CO2 pin",
        "pin": "11",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 900,
        "y": 940,
        "wires": []
    },
    {
        "id": "6c6ac30170b8c47d",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "Turn humidifier off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 980,
        "wires": [
            [
                "dcf288668f36caa1"
            ]
        ]
    },
    {
        "id": "dcf288668f36caa1",
        "type": "rpi-gpio out",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "humidifier pin",
        "pin": "13",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 930,
        "y": 980,
        "wires": []
    },
    {
        "id": "c9e4f1e57a4501c7",
        "type": "change",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "Stop pump",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1020,
        "wires": [
            [
                "f7624c02411cec09"
            ]
        ]
    },
    {
        "id": "f7624c02411cec09",
        "type": "rpi-gpio out",
        "z": "8b70799ce97cf17d",
        "g": "ba872fe6adc0f262",
        "name": "pump",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 910,
        "y": 1020,
        "wires": []
    }
]